<%= form_with(model: @quote , local: true) do |f| %>
    <% if @quote.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este  no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @quote.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<%= f.hidden_field :publication_id, value: params[:publication_id] %>
    
    <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message %>
    </div>
    <div class="container">
        <div class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date %>
    </div>
    <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
    </div>
    
    <div class = 'actions'>
        <%= f.submit %>
    </div>
    
    
    </div>
    
<% end %>