<div class="container text-center pb-3">
<%= form_with(model: @quote , local: true) do |f| %>
    <% if @quote.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este  no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @quote.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<%= f.hidden_field :publication_id, value: params[:publication_id] %>




    <div class="form-group">
        <%= f.label 'Mensage' %>
        <%= f.text_area :message, class:"form-control" %>
    </div>
    <div class="container">
        <div class="form-group" >
        <%= f.label 'Fecha de tu evento' %>
        <%= f.date_field :date, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= f.label 'Tu telefono' %>
        <%= f.text_field :phone, class:"form-control" %>
    </div>
    
    <div class = 'actions'>
        <%= f.submit "Cotizar", class:"btn btn-primary"  %>
    </div>
    
    
    </div>

    
<% end %>
</div>