<% @user_quotes.each do |quote| %>
        <tr>
            <td><%= quote.message%></td>
            <td><%= quote.phone%></td>
            <td><%= quote.date%></td>
            <td><%= link_to 'Ver', quote %></td>
            <td><%= link_to 'Editar', edit_quote_path(quote) %></td>
            <td><%= link_to 'Cancelar', quote, method: :delete, data: { confirm: 'Deseas cancelar la cotizacion?' } %></td>
        </tr>
<% end %>

