
<h1> Tus Cotizaciones</h1>

<table class ="table">
    <thead class ="table-dark">
        <tr>
        <th>Mensaje</th>
        <th>Phone</th>
        <th>Date</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @user_quotes.each do |quote| %>
        <tr>
            <td><%= quote.message%></td>
            <td><%= quote.phone%></td>
            <td><%= quote.date%></td>
            <td><%= link_to 'Show', quote %></td>
            <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
            <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>