
<div class="container pb-3">
    <h1 class="text-center"> Mensajes </h1>
<div class="container pt-2 shadow  rounded pb-2 w-50">

    <div class="row " id="message">
    <div class=" container">
        <%@messages.each do |m| %>
        <% if m.user == current_user %>
            <div class="col-6">
            </div>
            <div class="col-6 text-center  shadow btn btn-primary  btn-sm border border-warning">
                 Tu Dices: 
                <h5><%= m.content %></h5>
            </div>
        <% else %>
            <div class="col-6 ml-auto shadow bg-success btn-sm text-white border border-warning">
                Usuario Dice:
                <h5><%= m.content %></h5>
            </div>
            <div class="col-6">
            </div>
        <% end %>

    <% end %>
    </div>
</div>

</div>


<%= form_with(model: @message, local: true) do |f| %>
    <% if @message.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este  no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @message.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :quote_id, value: params[:id] %>

     <div class="container form-group pt-3 w-50">
        <%= f.text_field :content, class:"form-control  " %>
    </div>
    <div class = 'actions  text-center'>
        <%= f.submit 'enviar',class:"btn btn-primary" %>
    </div>
<% end %>



</div>



