<%# formularioo de publicaciones %>
<div class="container text-center pb-3">
    <%= form_with(model: @publication , local: true) do |f| %>
        <% if @publication.errors.any? %>
            <div id = 'error_explanation'>
                <h2>Este  no se pudo crear por las siguientes razones</h2>
                <ul>
                    <% @publication.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        <% end %>



    
<%# input de titulo servicio %>
        <div class="form-group">
            <%= f.label "Titulo de tu servicio"%>
            <%= f.text_field :title, class:"form-control", placeholder:"Titulo de tu servicio" %>
        </div>
<%# input de describe tu servicio %>
        <div class="form-group">
            <%= f.label "Describe tu servicio" %>
            <%= f.text_area :description, class:"form-control",placeholder:"Describe tu servicio"%>
        </div>
<%# input de valor de tu servicio %>
        <div class="form-group">
            <%= f.label "Valores Desde"%>
            <%= f.text_field :value, class:"form-control", placeholder:"Valores Desde" %>
        </div>
<%# subir imagenes active storage %>
        <div class="field ">
            <%= f.label :imagen %><br />
            <%= f.file_field :image %>
        </div>
<%# creacion de publicacion %>
        <div class = 'actions'>
            <%= f.submit "Publicar", class:"btn btn-primary"  %>
        </div>
    
    <% end %>
</div>