 <% @user_publications.each do |publication| %>
    <tr>
        <td><%= publication.title%></td>
        <td><%= publication.description%></td>
        <td><%= publication.value%></td>
        <td><%= link_to 'Ver', publication %></td>
        <td><%= link_to 'Edit', edit_quote_path(publication) %></td>
        <td><%= link_to 'Eliminar', publication, method: :delete, data: { confirm: 'Desea eliminar las publicacion?' } %></td>
    </tr>
<% end %>