<div class="container">
        <div class="row">
            <%@user_publications.each do |publication| %>
                <div class=" card_shadow col-3 px-2 pt-3">
                    <div class="card" style="width: 15rem;">
                            <%= image_tag publication.image %>
                        <div class="card-body">
                            <h5 class="card-title"><%= publication.title %></h5>
                            <p class="card-text"><%= publication.description %></p>
                            <%= link_to 'Ver',publication,class:"btn btn-primary"%>
                            <%= link_to 'Editar', edit_publication_path(publication),class:"btn btn-primary" %>
                            <%= link_to 'Cancelar', publication,class:"btn btn-primary", method: :delete, data: { confirm: 'Deseas cancelar la publicacion?' } %>
                        </div>
                    </div>
                </div>
            <% end %>  
        </div>
    </div> 


