<div class="container">
        <div class="row p-3">
            <%@user_publications.each do |publication| %>
                <div class=" shadow bg-white rounded col-3 p-3 m-3 ">
                    <div class="card" style="width: 15rem;">
                            <%= image_tag publication.image, class:"img-fluid" %>
                        <div class="card-body">
                            <h5 class="card-title"><%= publication.title %></h5>
                            <%= link_to 'Ver',publication,class:"btn btn-primary"%>
                            <%= link_to 'Editar', edit_publication_path(publication),class:"btn btn-primary" %>
                            <%= link_to 'Cancelar', publication,class:"btn btn-primary", method: :delete, data: { confirm: 'Deseas cancelar la publicacion?' } %>
                        </div>
                        <%publication.quotes.each do |q| %>
                            
                            <div class=" shadow bg-white pt-3">
                                <div class="card text-white bg-dark  mb-3" style="width: 15rem;">
                                    <div class="card-header">Cotizado por @ยบ<%=q.user.name%></div>
                                    <div class="card-body">
                                        <p class="card-text"><%=q.user.name%> dice: <%=q.message %> </p>
                                        <p>Telefono: <%=q.phone %></p>   
                                        <p> Email: <%=q.user.email %></p>  
                                        <br>
                                        <%= link_to 'Chat',q,class:"btn btn-primary"%>
                                    </div>
                                </div>
                            </div>

                        <% end %>
                    </div>
                </div>
            <% end %>  
        </div>
    </div> 


