<h1> Tus Publicaciones</h1>


<%= @publication.title %>
<%= @publication.value %>
<%= @publication.description %>

<%@publications.each do|publication| %>
    <%= publication.images %>
<% end %>


Nota : <%= rating_for @publication, :speed %>

