<h1> Tus Publicaciones</h1>


<%= @publication.title %>
<%= @publication.value %>
<%= @publication.description %>
<%= current_user.email %>

<%= @publication.images.map do |image| %>
    <%= image_tag image %>
<%end %>


Nota : <%= rating_for @publication, :speed %>

