<h1 class="text-center">Publicacion</h1>


<div class="accordion " id="accordionExample">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn text-center btn btn-primary btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <%=@publication.title%>
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class=" card-body">
                <div class="container card shadow p-3 mb-5 bg-white rounded">
                    <div class="row no-gutters ">
                        <div class="col m-3">
                            <%= link_to(image_tag(@publication.image.variant(resize: "400x400")), rails_blob_path(@publication.image, disposition: "attachment"))%>
                        </div>
                        <div class="col m-3">
                            <div class="card">
                                <div class="card-header">
                                    <%=@publication.user.name%> Publica:
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><%=@publication.title%></h5>
                                    <p class="card-text"><%=@publication.description%></p>
                                    <%= link_to 'Cotizar', quote_new_path(@publication.id),class:"btn btn-primary"%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header " id="headingTwo">
        <h2 class="mb-0">
            <button class="btn btn-danger text-center btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Contactos
            </button>
        </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

        <h3 class="text-center">Correo electronico: <%=@publication.user.email %></h3>
            
        </div>
        </div>
    </div>
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-header" id="headingThree">
        <h2 class="mb-0">
            <button class="btn btn btn-info text-center btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Valor desde
            </button>
        </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body ">
           <h2 class="text-center"> $<%= @publication.value %> </h2>
        </div>
        </div>
    </div>
  

    <div class="card mb-3 shadow p-1 mb-5 bg-white rounded">
      Notas : <%= rating_for @publication, :speed %>
        <%= render "coments/form" %>
    </div>

     <div class="card mb-3 shadow p-1 mb-5 bg-white rounded">
        <%= render "coments/coment" %>
    </div>
</div>







