<h1> Tus Publicaciones</h1>



<%= @publication.title %>
<%= @publication.value %>
<%= @publication.description %>

Speed  : <%= rating_for @publication, 'speed' %>
Engine : <%= rating_for @publication, 'engine' %>
Price  : <%= rating_for @publication, 'price' %>
