
<%= form_with(model: @coment, local: true) do |f| %>
  <% if @coment.errors.any? %>
    <div id = 'error_explanation'>
      <h2>Este  no se pudo crear por las siguientes razones</h2>
      <ul>
        <% @coment.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :publication_id, value: params[:id] %>
<%= f.hidden_field :user_id, value: current_user.id %>

  <div class="container form-group w-50 text-center">
    <%= f.label 'Comentarios'%>
    <%= f.text_area :content, class:'form-control' %>
  </div>

  <div class="text-center actions">
    <%= f.submit 'Comentar', class:'btn btn-primary' %>
  </div>


<% end %>