<p id="notice" class="text-center mr-5 bg-success imgdj "><%= notice %></p>
<div class="container text-center bg-light ">
  <h1>Perfil De Usuario</h1>
  <a class="navbar-brand" href="#"><%=image_tag current_user.avatar,:class =>"img-fluid imgdj   rounded-circle img_navbar perfilimg border border-primary "%><%root_path%><a>

  <ul class="list-group "id='user'>
    <li class="list-group-item">Nombre:  <%= current_user.name %></li>
    <li class="list-group-item">Correo:  <%= current_user.email %></li>
    <li class="list-group-item"> Publicaciones:  <%= current_user.publications.count%></li>
    <li class="list-group-item"> Cotizaciones:  <%= current_user.quotes.count%></li>
  </ul>
  <div id='new_bookmark_btn' class="py-3">
      <%= link_to 'Editar', edit_user_path(current_user.id), class: 'btn btn-primary', remote: true%>
  </div>
</div>

<br>
<div class="bg-light">
  <h1>Graficos de tus cotizaciones diarias </h1>
  <%= bar_chart current_user.quotes.group_by_day(:created_at).count%>
  <h1>Graficos de tus publicaciones diarias </h1>
  <%= bar_chart current_user.publications.group_by_day(:created_at).count%>

</div>
<br>


<div class = "bg-light pt-3 text-center">
  <h1> Tus Cotizaciones</h1>
  <%= render "quotes/quotes" %>
</div>

<br>

<div class = "bg-light">
  <h1> Tus Publicaciones</h1>
  <%= render "publications/mypublications" %>
</div>

<br>







