
<nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top">
<a class="navbar-brand animation-target " href="#"><%root_path%><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-candle" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <rect x="4" y="6" width="4" height="5" rx="1" />
  <line x1="6" y1="4" x2="6" y2="6" />
  <line x1="6" y1="11" x2="6" y2="20" />
  <rect x="10" y="14" width="4" height="5" rx="1" />
  <line x1="12" y1="4" x2="12" y2="14" />
  <line x1="12" y1="19" x2="12" y2="20" />
  <rect x="16" y="5" width="4" height="6" rx="1" />
  <line x1="18" y1="4" x2="18" y2="5" />
  <line x1="18" y1="11" x2="18" y2="20" />
</svg>MARKETVISUAL<%root_path%></a>

<% if  user_signed_in? %>
     <!-- imagen de perfil-->
    <a class="navbar-brand animation-target" href="#"><%=image_tag current_user.avatar,:class =>"img-fluid imgdj rounded-circle img_navbar navimg border border-primary ml-4"%><%root_path%><a>
    <!-- menu de perfil-->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Hola@ 
            <%= current_user.name%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><%= link_to '  Perfil', profile_path(current_user.id), class:"nav-link text-secondary " %></a>
        </li>
    </ul>
</div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">

            
            <ul class="navbar-nav ml-auto">
                <!-- barra de busqueda y boton-->
        <%= form_with(url:root_path, method: :get, local: :true, class: 'form-inline') do %>
        <%= text_field_tag :q, "", class: 'form-control mr-sm-1' %>
        <%= submit_tag( "Buscar", Class: 'btn btn-outline-dark my-1 my-sm-0 ' )%>
<%end%>
               
                <li class="nav-item">
                    <%= link_to 'Home', root_path, class:"nav-link" %>
                </li>
                 <% if current_user.admin? %>
                    <%= link_to 'Perfil Administrador', admin_path,class:"nav-link" %>
                <%end%>
                <li class="nav-item">
                    <%= link_to 'Publicar', post_path, class:"nav-link" %>
                </li>
                <li>
                    <%= link_to 'Salir', destroy_user_session_path, method: :delete, class:"nav-link" %>
                </li>
                
                

            </ul>
            
<%else%>
            <!-- vista de navbar de visitas y usarios-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to 'Registrate',new_user_registration_path, class:"nav-link" %>
                </li>
             
                <li class="nav-item">
                    <%= link_to 'Inicia Sesion',user_session_path, class:"nav-link" %>
                </li>
            </ul>
<% end %>
    </div>

</nav>