<div class ="container w-1000 imgdj mb-3  pt-5">
    <img src="https://cdn.pixabay.com/photo/2015/04/13/13/37/audio-720589_960_720.jpg" alt="" class="img-fluid">
</div>


<h1>MARKETVISUAL</h1>

<h2>Aplicacion web de busqueda y publicaciones de servicios para profesionales del area audivisual , sonido y musicos profesionales ,los usuarios que utilicen esta aplicacion podran evaluar y comentar los servicios y cursos entregados por los profesionales. los profesionales podran publicar sus servicios indicando los valores . Los usuarios podran cotizar y publicar.
APP específicamente para profesionales del área audiovisual, sonido y músicos profesionales.</h2>


<div class="container mt-3 ">
        <h1>Ultimas Publicaciones</h1>
    </div>
    <div class="container mb-5  ">
        <div class="row">
            <%@publications.each do |publication| %>
                <div class="col-3" >
                    <div class="card shadow mb-5 bg-white rounded" style="width: 15rem;">
                        <%= image_tag publication.image, class:"img-fluid" %>
                        <div class="card-body">
                            <h4 class="card-title"><%= publication.title %></h4>
                            <p class="card-text">Valor desde: <%= publication.value%></p>
                            <p class="card-title text-muted"> Publicado por: <%= publication.user.name%>  <%= distance_of_time_in_words(Time.now, publication.created_at)%></p>
                            
                            <%= link_to 'Ver', new_user_registration_path,class:"btn btn-primary"%>
                        </div>
                    </div>
                </div>
            <% end %>  
        </div>
    </div> 