<p id="notice" class="text-center alert-primary"><%= notice %></p>

<% if user_signed_in? %>
<%# carousel %>
    


<%# card%>
    <div class="container mt-3 ">
        <h1>Ultimas Publicaciones</h1>
    </div>
    <div class="container mb-5 ">
        <div class="row">
            <%@publications.each do |publication| %>
                <div class="col-3 px-2 pt-3 m-2">
                    <div class="card shadow p-1 mb-5 bg-white rounded" style="width: 18rem;">
                        <%= image_tag publication.image, class:"img-fluid" %>
                        <div class="card-body">
                            <h4 class="card-title"><%= publication.title %></h4>
                            <p class="card-text"><%= publication.description %></p>
                            <p class="card-text">Valor desde: <%= publication.value%></p>
                            <p class="card-title text-muted"> Publicado por: <%= publication.user.name%>  <%= distance_of_time_in_words(Time.now, publication.created_at)%></p>
                            
                            <%= link_to 'Ver', publication ,class:"btn btn-primary"%>
                            <%= link_to 'Cotizar', quote_new_path(publication.id),class:"btn btn-primary"%>
                        </div>
                    </div>
                </div>
            <% end %>  
        </div>
    </div> 
<% else%>
<%# vista visitas %>
    <div class = "container text-center pt-5">
        <%= render "homes/visit" %>
    </div>
    
<% end%>





