<p id="notice" class="text-center alert-primary"><%= notice %></p>

<% if user_signed_in? %>
<%# carousel %>
    <div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-mdb-interval="10000">
        <img
            src="https://mdbootstrap.com/img/new/slides/041.jpg"
            class="d-block w-100"
            alt="..."
        />
        </div>
        <div class="carousel-item" data-mdb-interval="2000">
        <img
            src="https://mdbootstrap.com/img/new/slides/042.jpg"
            class="d-block w-100"
            alt="..."
        />
        </div>
        <div class="carousel-item">
        <img
            src="https://mdbootstrap.com/img/new/slides/043.jpg"
            class="d-block w-100"
            alt="..."
        />
        </div>
    </div>
    <button
        class="carousel-control-prev"
        data-mdb-target="#carouselExampleInterval"
        type="button"
        data-mdb-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        data-mdb-target="#carouselExampleInterval"
        type="button"
        data-mdb-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
    </div>


<%# card%>
    <div class="container mt-3">
        <h1>Ultimas Publicaciones</h1>
    </div>
    <div class="container">
        <div class="row">
            <%@publications.each do |publication| %>
                <div class="col-3 px-2 pt-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.pixabay.com/photo/2015/04/13/13/37/audio-720589_960_720.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                            <h4 class="card-title"><%= publication.title %></h4>
                            <p class="card-text"><%= publication.description %></p>
                            <p class="card-text">Valor desde: <%= publication.value%></p>
                            <p class="card-title text-muted"> Publicado por: <%= publication.user.name%>  <%= distance_of_time_in_words(Time.now, publication.created_at)%></p>
                            
                            <%= link_to 'Ver', publication ,class:"btn btn-primary"%>
                            <%= link_to 'Cotizar', quote_new_path(publication.id),class:"btn btn-primary"%>
                        </div>
                    </div>
                </div>
            <% end %>  
        </div>
    </div> 
<% else%>
<%# vista visitas %>
    <div class = "container text-center">
        <%= render "homes/visit" %>
    </div>
    
<% end%>





